# Folder 2: Code

### Part 1)

In [6]:
def baseConverter(x):
    ans_T = ""
    ans_Et = ""
    ans_ST = ""
    xT = x
    xEt = x
    xST = x
    while xT>=1:
        if xT==1:
            ans_T = "1" + ans_T
            xT = 0
        else:
            remainder = xT%2
            ans_T = str(remainder) + ans_T 
            xT = xT//2
    
    while xEt>0:
        remainder8 = xEt%8
        ans_Et = str(remainder8) + ans_Et
        xEt = xEt//8

    
    while xST>0:
        remainder16 = xST%16
        if remainder16 == 10:
            ans_ST = "A" + ans_ST
        elif remainder16 == 11:
            ans_ST = "B" + ans_ST
        elif remainder16 == 12:
            ans_ST = "C" + ans_ST
        elif remainder16 == 13:
            ans_ST = "D" + ans_ST
        elif remainder16 == 14:
            ans_ST = "E" + ans_ST
        elif remainder16 == 15:
            ans_ST = "F" + ans_ST
        else:    
            ans_ST = str(remainder16) + ans_ST
        xST = xST//16
        
    
    print("Base 2:",ans_T)
    print("Base 8:",ans_Et)
    print("Base 16:",ans_ST)

    
baseConverter(110)

Base 2: 1101110
Base 8: 156
Base 16: 6E

### Part 2)

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\Leead\Desktop\לימודים\מדעי הנתונים\מטלות\עבודת גמר\cast.csv')
df

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22.0
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27.0
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3.0
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
...,...,...,...,...,...,...
3333690,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3333691,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3333692,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3333693,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3333694,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### Question 1)  
##### How many movies have the title "Hamlet"?

In [18]:
Hamlet = df.loc[df['title'].isin(['Hamlet'])]
HamletCount = Hamlet['title'].count()
HamletCount

299